.login-from {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

#dashboard-menu {
    position: fixed;
    height: 100%;
    z-index: 11;
}

@media screen and (max-width:991px) {
    #dashboard-menu {
        position: fixed;
        height: auto;
        width: 100%;
    }
}

.custom-alert {
    position: fixed;
    top: 80px;
    right: 25px;
}